/build/
.classpath
.project
/WebContent/lixo.html
.jsdtscope
/target/
.settings/
/pom.xml
/.tern-project
target/
.settings
target/
target/classes/ambiente.properties
target/classes/log4j.properties
/bower_components/
/target/classes/ambiente.properties
/target/classes/log4j.properties
.idea
FluxoAGESMaven.iml
.idea/sqldialects.xml
.idea/workspace.xml
/.idea/workspace.xml
/classes/
/FluxoAGES.iml
