/build/
.classpath
.project
/WebContent/lixo.html
.jsdtscope
/target/
.settings/
/pom.xml
/.tern-project
target/
.settings
target/
target/classes/ambiente.properties
target/classes/log4j.properties
/bower_components/
