body{
	background-color: #EEE;
}

.logo {
	width: 30%;
	min-width: 200px;
}

.logoNavBar {
	width: 45px;
}

.panel-login {
	max-width: 300px; 
	float: none;
    margin-left: auto;
    margin-right: auto;
}

.panel-addUser{
	max-width: 500px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.btnPresenca {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #00ff00;
  padding: 4px 7px 4px 7px;
  text-decoration: none;
}

.btnFalta {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  background: #ff0000;
  padding: 4px 7px 4px 7px;
  text-decoration: none;
}


.panel-Turma{
	max-width: 800px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.panel-addPonto{
	max-width: 600px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.panel-lancamentoHoras{
	max-width: 800px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.panel-btnHoras{
	vertical-align: middle;
	margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 5px;
}

.panel-addSkills{
	max-width: 800px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.panel-addStakeholder{
	max-width: 400px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.panel-addStakeholder{
	max-width: 400px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.login {
	width: 100%;
}

.addUser {
	width: 78%;
}

.btnHoras {
	width: 100%;
}

.btnHorario {
	width: 100%;
}

.rowMargin {
	padding-top: 24px;
}


.limparUser {
	width: 20%;
}

.welcome {
    text-align: center;
    color: #446CB3;
    font-size: 28px; 
    margin-top: 10px;
}

.ages{
	color: #F89406;
}

.red{
	color: red;
	font-weigth: bold
}

.modal-ages{
	color: #FFF;
	background-color: #296395;
}

.modal-danger{
	color: #FFF;
	background-color: #b92c28;
}

.margin-top {
	margin-top: 20px;
}

.titulo-skill{
	font-size: 18px;
	padding: 0px;
	margin: 0 0 4px 240px;
}

.bold{
	font-weigth: bold;
}

.btnlink {
	background:none!important;
	color:inherit;
	border:none;
	padding:0!important;
	font: inherit;
	/*border is optional*/
	border-bottom:1px solid #444;
	cursor: pointer;
}
